
.footerrow{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    background-color: rgb(31, 95, 235);
    
    
    }
.footcol{
   display: flex;
   flex-direction: column;
   padding: 50px;
   align-items: center;
   color:whitesmoke;
   
 
}
.footcol>ul>li{
   text-align: start;
   list-style-type:none;
  
}
.footcol>ul{
   padding: 0px;
}

 .footcol>h4{
    text-align: start;
 }


 .footerrow,p{
    font-size: 12px;
    text-align: center;
   
    
 }   



    @media only screen and (max-width:600px) {
   

   .footerrow{
    display: flex;
    flex-direction: column;
   }
   .footcol{
      padding: 0px;
   }
    }